body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: rgb(231, 226, 219);
}

#content {
  padding: 2rem;
}

#error {
  color: red;
  margin-top: 10px;
}

#result {
  margin-top: 10px;
  font-weight: bold;
}

button {
  margin-top: 1rem;
}

h1 {
  margin-top: 0;
}

input[type="checkbox"] {
  margin-top: 1rem;
}

#header {
  width: 100%;
  height: 2rem;
  background: radial-gradient(at 5.604174177936816% 7.112902611050087%, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 0) 100%),
    radial-gradient(
      at 26.101058197849692% 20.00166773388028%,
      hsla(253.0693069306931, 90.17857142857146%, 56.07843137254902%, 1) 0%,
      hsla(253.0693069306931, 90.17857142857146%, 56.07843137254902%, 0) 100%
    ),
    radial-gradient(
      at 67.94527153084982% 98.83989543138271%,
      hsla(35.02392344497608, 91.26637554585153%, 55.09803921568628%, 1) 0%,
      hsla(35.02392344497608, 91.26637554585153%, 55.09803921568628%, 0) 100%
    ),
    radial-gradient(at 41.82672119414528% 35.598836337746675%, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 0) 100%),
    radial-gradient(
      at 5.233503727216693% 12.094662361354501%,
      hsla(253.0693069306931, 90.17857142857146%, 56.07843137254902%, 1) 0%,
      hsla(253.0693069306931, 90.17857142857146%, 56.07843137254902%, 0) 100%
    ),
    radial-gradient(
      at 19.754010176757486% 94.20565003855776%,
      hsla(35.02392344497608, 91.26637554585153%, 55.09803921568628%, 1) 0%,
      hsla(35.02392344497608, 91.26637554585153%, 55.09803921568628%, 0) 100%
    ),
    radial-gradient(at 14.9531010059055% 96.9470057315345%, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 0) 100%),
    radial-gradient(
      at 75.56143868729914% 6.724204458269667%,
      hsla(253.0693069306931, 90.17857142857146%, 56.07843137254902%, 1) 0%,
      hsla(253.0693069306931, 90.17857142857146%, 56.07843137254902%, 0) 100%
    ),
    radial-gradient(
      at 85.71191846269008% 0.9015955827957889%,
      hsla(35.02392344497608, 91.26637554585153%, 55.09803921568628%, 1) 0%,
      hsla(35.02392344497608, 91.26637554585153%, 55.09803921568628%, 0) 100%
    );
}
